<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Goal</h2>
                <hr class="light">
                <p class="text-faded">In a world that is ever changing, Integrated Electronic Solutions, recognizes the need for our clients to have technical solutions that ensure them their business and processes reflect the quality of their work. Integrated Electronic Solutions strives to bridge the gap for our clients, by ensuring that we are kept up to date with modern technology so that we are able to provide and maintain the most efficient integrated technical services. Our client's needs and concerns are our priority. We intend to grow our customer basis as we continue to pride ourselves in excellent service

                </p>
                <a href="#services" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
