<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Communications</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                    <img class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s" src="img/Networkinfra.png" alt="clock" width="50" height="50">
                    <h3>Network Infrastructure</h3>
                    <p class="text-muted">We are able to build, maintain and grow network infrastructure. This consists of the hardware and software resources of an entire network that enable network connectivity, communication, operations and management of an enterprise network.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                    <img class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s" src="img/optical-fiber.png" alt="clock" width="50" height="50">
                    <h3>Fiber Optics</h3>
                    <p class="text-muted">IES has trained technicians that can design fiber layouts, install the fiber optic cables, make all of the required connections, locate bad spots in fiber cable, splice damaged places located in fiber cables and provide all of the necessary parts and materials.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                    <img class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s" src="img/wifi.png" alt="clock" width="50" height="50">
                    <h3>Wireless Access</h3>
                    <p class="text-muted">Integrated Electronic Solutions has trained technicians that can build, install and repair these wireless networks. If cabling system has been damaged and cannot transfer the data, Integrated Electronic Solutions has designed and built small dish sets that can be programmed and installed to carry the data.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                    <img class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s" src="img/computer.png" alt="clock" width="50" height="50">
                    <h3>IESense</h3>
                    <p class="text-muted">This is a Condition Based Monitoring System that has been developed by Integrated Electronic Solutions. The customer chooses the items to have monitored and IES would install the required equipment for the particular monitoring system.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                    <img class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s" src="img/clock.png" alt="clock" width="50" height="50">
                    <h3>IES Time</h3>
                    <p class="text-muted">We are able to build, maintain and grow network infrastructure. This consists of the hardware and software resources of an entire network that enable network connectivity, communication, operations and management of an enterprise network. It provides the communication path and services between users, processes, applications, services and external networks/the internet. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                    <img class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s" src="img/thermal-imaging.png" alt="clock" width="50" height="50">
                    <h3>Thermal Imaging</h3>
                    <p class="text-muted">IES has designed a system that can be placed anywhere that a customer would want them located and it has the ability to do facial recognition, scan for body temperature and then report into a data base. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                    <img class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s" src="img/security-camera.png" alt="clock" width="50" height="50">
                    <h3>Cameras</h3>
                    <p class="text-muted"> We can support the security of your building, property, equipment and materials with the installation of security cameras. We have the ability to put in any type of camera that is required to support your operation and environment.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                    <img class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s" src="img/consultant-services.png" alt="clock" width="50" height="50">
                    <h3>Consulting and Integration</h3>
                    <p class="text-muted">We provide integration consulting which is a strategy and management consultancy that not only designs solutions but also implements its recommendations. We structure our technical expertise around our practices in marketing, sales, supply chain, management, implementation, leadership and organization.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                    <img class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s" src="img/industrial.png" alt="clock" width="50" height="50">
                    <h3>SCADA Networking</h3>
                    <p class="text-muted">Integrated Electronic Solutions can build, support and maintain SCADA Networks. here is some more random words to mess with the css a bithere is some more random words to mess with the css a bithere is some more random words to mess with the css a bit here is some more random words to mess with the css a bit</p>
                </div>
            </div>
        </div>
    
</section>
