<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Sturdy Templates</h3>
                    <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                </div>
            </div> -->
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                    <img class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s" src="img/clock.png" alt="clock" width="50" height="50">
                    <h3>IES Time</h3>
                    <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                    <img class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s" src="img/Networkinfra.png" alt="clock" width="50" height="50">
                    <h3>Network Infrastructure</h3>
                    <p class="text-muted">We are able to build, maintain and grow network infrastructure. This consists of the hardware and software resources of an entire network that enable network connectivity, communication, operations and management of an enterprise network. It provides the communication path and services between users, processes, applications, services and external networks/the internet. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                    <img class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s" src="img/Networkinfra.png" alt="clock" width="50" height="50">
                    <h3>Fiber Optics</h3>
                    <p class="text-muted">We have trained technicians that can design fiber layouts, install the fiber optic cables, make all of the required connections, troubleshoot, make repairs, and provide all of the necessary parts and materials to accomplish these tasks. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                    <img class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s" src="img/Networkinfra.png" alt="clock" width="50" height="50">
                    <h3>Wireless Access</h3>
                    <p class="text-muted">Our trained technicians can build, install and repair wireless infrastructure. If cabling system has been damaged and cannot transfer data, Integrated Electronic Solutions has designed and built small emergency dish sets that can be programmed and installed temporary to carry the data. The dish sets can also be used as a permanent installation where the transfer of data is needed but the Network Infrastructure does not exist and it is too cost prohibitive to install </p>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ready to Ship</h3>
                    <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div> -->
        </div>
    </div>
</section>
